
MyGallary/app/src/main/java/com/example/mygallary/MyPagerAdapter.kt
MyGallary/app/src/main/java/com/example/mygallary/MainActivity.kt
MyGallary/app/src/main/java/com/example/mygallary/MainActivity.kt
MyGallary/app/src/main/java/com/example/mygallary/MyPagerAdapter.kt
MyGallary/app/src/main/java/com/example/mygallary/MainActivity.kt
MyGallary/app/src/main/java/com/example/mygallary/MyPagerAdapter.kt
